In [22]:
# DSC 550 - Data Mining
# Week 1 - Exploring Data
# Exercise: Exploring a Pandas Data Frame

In [23]:
# We have downloaded the video game sales with ratings dataset and saved it in a gitbub repository
url = "./datasets/Video_Games_Sales_as_at_22_Dec_2016.csv"

In [24]:
# 1- Load the dataset as a Pandas data frame.
import pandas as pd
videogame_df = pd.read_csv(url)

In [25]:
# 2- Display the first ten rows of data.
print('First 10 rows')
print(videogame_df.head(10))

First 10 rows
                        Name Platform  Year_of_Release         Genre  \
0                 Wii Sports      Wii           2006.0        Sports
1          Super Mario Bros.      NES           1985.0      Platform
2             Mario Kart Wii      Wii           2008.0        Racing
3          Wii Sports Resort      Wii           2009.0        Sports
4   Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
5                     Tetris       GB           1989.0        Puzzle
6      New Super Mario Bros.       DS           2006.0      Platform
7                   Wii Play      Wii           2006.0          Misc
8  New Super Mario Bros. Wii      Wii           2009.0      Platform
9                  Duck Hunt      NES           1984.0       Shooter

  Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0  Nintendo     41.36     28.96      3.77         8.45         82.53
1  Nintendo     29.08      3.58      6.81         0.77         40.24
2  Nintendo     15.68     12.76      3.79         3.29         35.52
3  Nintendo     15.61     10.93      3.28         2.95         32.77
4  Nintendo     11.27      8.89     10.22         1.00         31.37
5  Nintendo     23.20      2.26      4.22         0.58         30.26
6  Nintendo     11.28      9.14      6.50         2.88         29.80
7  Nintendo     13.96      9.18      2.93         2.84         28.92
8  Nintendo     14.44      6.94      4.70         2.24         28.32
9  Nintendo     26.93      0.63      0.28         0.47         28.31

   Critic_Score  Critic_Count User_Score  User_Count Developer Rating
0          76.0          51.0          8       322.0  Nintendo      E
1           NaN           NaN        NaN         NaN       NaN    NaN
2          82.0          73.0        8.3       709.0  Nintendo      E
3          80.0          73.0          8       192.0  Nintendo      E
4           NaN           NaN        NaN         NaN       NaN    NaN
5           NaN           NaN        NaN         NaN       NaN    NaN
6          89.0          65.0        8.5       431.0  Nintendo      E
7          58.0          41.0        6.6       129.0  Nintendo      E
8          87.0          80.0        8.4       594.0  Nintendo      E
9           NaN           NaN        NaN         NaN       NaN    NaN

# Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?

In [26]:
# Dimensions
# numRows = number of rows
#numColumns = number of columns
numRows, numColumns = videogame_df.shape

print(f"The number of rows is : {numRows}")
print(f"The number of columns is :{numColumns}")

The number of rows is : 16719
The number of columns is :16

The number of rows represents the number of video games.
The number of columns represents the number of attributes of the video games (Name, Platform, Year_of_Release etc.)

Find the top five games by critic score

In [27]:
# Top 5 games by critic score
# We will use the nlargest method
top5GamesbyCritic = videogame_df.nlargest(5, 'Critic_Score')[['Name', 'Critic_Score']]
print('Top 5 games by critic score')
print(top5GamesbyCritic)

Top 5 games by critic score
                          Name  Critic_Score
51         Grand Theft Auto IV          98.0
57         Grand Theft Auto IV          98.0
227   Tony Hawk's Pro Skater 2          98.0
5350               SoulCalibur          98.0
16          Grand Theft Auto V          97.0

In [28]:
# Find the number of video games in the data frame in each genre.
# Count the number of video games in each genre
gameperGenre = videogame_df['Genre'].value_counts()

print("Number of video games in each genre :")
print(gameperGenre)

Number of video games in each genre :
Genre
Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: count, dtype: int64

In [29]:
# Find the first five games in the data frame on the SNES platform.
# Select all the games on the SNES platform
SNESgames = videogame_df[videogame_df['Platform'] == 'SNES']

# Let's keep only the name and platform for display clarity
SNESgames = SNESgames[['Name', 'Platform']]


# Select the top 5
top5SNESgames = SNESgames.head(5)

print("First 5 games on the SNES platform:")
print(top5SNESgames)

First 5 games on the SNES platform:
                                     Name Platform
18                      Super Mario World     SNES
56                  Super Mario All-Stars     SNES
71                    Donkey Kong Country     SNES
76                       Super Mario Kart     SNES
137  Street Fighter II: The World Warrior     SNES

Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.

In [30]:
# Calculate the total global sales for each publisher
publisherTotalSales = videogame_df.groupby('Publisher')['Global_Sales'].sum()

# Select the top 5
top_5_publisherTotalSales = publisherTotalSales.nlargest(5)

# Printing the result
print("Five publishers with the highest total global sales :")
print(top_5_publisherTotalSales)

Five publishers with the highest total global sales :
Publisher
Nintendo                       1788.81
Electronic Arts                1116.96
Activision                      731.16
Sony Computer Entertainment     606.48
Ubisoft                         471.61
Name: Global_Sales, dtype: float64

Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.

In [31]:
# Percentage of global sales from North America
videogame_df['NA_Sales_Percentage'] = (videogame_df['NA_Sales'] / videogame_df['Global_Sales'])*100

# First 5 rows of the new data frame
print('First 5 rows of the new data frame: ')
print(videogame_df.head(5))

First 5 rows of the new data frame:
                       Name Platform  Year_of_Release         Genre Publisher  \
0                Wii Sports      Wii           2006.0        Sports  Nintendo
1         Super Mario Bros.      NES           1985.0      Platform  Nintendo
2            Mario Kart Wii      Wii           2008.0        Racing  Nintendo
3         Wii Sports Resort      Wii           2009.0        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  Critic_Score  \
0     41.36     28.96      3.77         8.45         82.53          76.0
1     29.08      3.58      6.81         0.77         40.24           NaN
2     15.68     12.76      3.79         3.29         35.52          82.0
3     15.61     10.93      3.28         2.95         32.77          80.0
4     11.27      8.89     10.22         1.00         31.37           NaN

   Critic_Count User_Score  User_Count Developer Rating  NA_Sales_Percentage
0          51.0          8       322.0  Nintendo      E            50.115110
1           NaN        NaN         NaN       NaN    NaN            72.266402
2          73.0        8.3       709.0  Nintendo      E            44.144144
3          73.0          8       192.0  Nintendo      E            47.635032
4           NaN        NaN         NaN       NaN    NaN            35.926044

In [32]:
# Find the number NaN entries (missing data values) in each column
# We will use the isna() function to check for missing or null values

nanCount = videogame_df.isna().sum()
print("Number of NaN entries in each column:")
print(nanCount)

Number of NaN entries in each column:
Name                      2
Platform                  0
Year_of_Release         269
Genre                     2
Publisher                54
NA_Sales                  0
EU_Sales                  0
JP_Sales                  0
Other_Sales               0
Global_Sales              0
Critic_Score           8582
Critic_Count           8582
User_Score             6704
User_Count             9129
Developer              6623
Rating                 6769
NA_Sales_Percentage       0
dtype: int64

Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.

In [33]:
# Replacing non-numerical strings with NaN in the User_Score column
videogame_df['User_Score'] = pd.to_numeric(videogame_df['User_Score'], errors='coerce')

# Calculating the median score
medianScore = videogame_df['User_Score'].median()

# Printing the result
print(f'The median user score is : {medianScore}')

The median user score is : 7.5

In [34]:
# Replacing all NaN entries
videogame_df['User_Score'].fillna(medianScore, inplace=True)

# Printing the first 10 rows to show there is no more NaN in the user score and they have been replaced by the median
print('First 10 rows after replacing all NaN entries')
print(videogame_df[['Name', 'Platform', 'Genre', 'User_Score']].head(10))

First 10 rows after replacing all NaN entries
                        Name Platform         Genre  User_Score
0                 Wii Sports      Wii        Sports         8.0
1          Super Mario Bros.      NES      Platform         7.5
2             Mario Kart Wii      Wii        Racing         8.3
3          Wii Sports Resort      Wii        Sports         8.0
4   Pokemon Red/Pokemon Blue       GB  Role-Playing         7.5
5                     Tetris       GB        Puzzle         7.5
6      New Super Mario Bros.       DS      Platform         8.5
7                   Wii Play      Wii          Misc         6.6
8  New Super Mario Bros. Wii      Wii      Platform         8.4
9                  Duck Hunt      NES       Shooter         7.5

C:\Users\gyanr\AppData\Local\Temp\ipykernel_44296\3263945279.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  videogame_df['User_Score'].fillna(medianScore, inplace=True)